
.database-table {
    border-collapse: collapse;
    margin: 2.5em 0px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.15);
}

.database-table thead tr {
    color: #ffffff;
    text-align: left;
}

.database-table th, .database-table td {
    padding: 1.2em 1.5em;
    text-align: center;
}

.database-table tbody tr {
    border-bottom: .1em solid #dddddd;
}

.database-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.database-table th > input, .database-table td > input, .database-table td > select {
    font-size: 1em;
}

.database-table th > span, .database-table td > span {
    font-size: 1em;
}

.table-buttons {
    clear: both;
}

#previous-button {
    float: left;
}

#next-button {
    float: right;
}

.create-database-record {
    margin-bottom: 1em;
}

.submit-database {
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.15);
}

.submit-database input:not([type=checkbox]) {
    width: 100%;
    margin-bottom: .5em;
}

.submit-database input[type=Submit] {
    width: 50%;
}

.table-operation {
    padding-right: .5em;
    padding-left: .5em;
}

#form-data > select {
    width: 48%;
    margin-bottom: .5em;
}

#form-data > label {
    display: inline-block;
    width: 50%;
    margin-bottom: .5em;
}

.input-wrapper {
    display: inline-block;
    width: 49%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

#form-data > select, #form-data > input[type=text] {
    font-size: 1em;
}
