
.database-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.database-table thead tr {
    color: #ffffff;
    text-align: left;
}

.database-table th, .database-table td {
    padding: 12px 15px;
    text-align: center;
}

.database-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.database-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-buttons { 
    clear: both;
}

#previous-button {
    float: left;
}

#next-button {
    float: right;
}

.create-database-record {
    margin-bottom: 10px;
}

.submit-database {
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.submit-database input:not([type=checkbox]) {
    width: 100%;
    margin-bottom: 10px;
}

.submit-database input[type=Submit] {
    width: 50%;
}

.table-operation {
    padding-right: 5px;
    padding-left: 5px;
}
